.about_img {
    max-width: 706px;
    width: 100%;
}

.about_details h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.about_details p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
}

.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.about_point{
    display: flex;
    align-items: center;
    gap: 12px;
}

.check-text{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.check-img{
    margin-bottom: 0;
}

.check-img {
    max-width: 14px;
    width: 100%;
}

.check-img img {
    width: 100%;
    height: 100%;
}

.button_start{
    margin-top: 50px;
}

.about_sec{
    padding: 0;   
}

.about_point p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.button_start .btn {
    max-width: 170px;
    width: 100%;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #405FF2;
    border: 1px solid #405FF2;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 1199px) {
    .about_details h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .about_details p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }

      .button_start {
        margin-top: 12px;
    }
  }

  @media screen and (max-width: 575px){
    .about_sec .about_details h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .about_sec .about_details p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .about_sec .button_start button {
        max-width: 150px;
        width: 100%;
        padding: 8px 8px;
        font-size: 14px;
    }

    .about_sec .about_point {
        display: flex;
        align-items: baseline;
        gap: 12px;
    }

    .about_sec .get_touch {
        margin-top: 12px;
    }

    .about_sec{
        margin: 0;
    }
  }


   @media screen and (max-width: 469px) {
    .about_sec .about_details .check-text {
        text-align: left;
    }
   }