.ourteam_title {
    margin-top: 15px;
}

.ourteam_title h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.ourteam_title p{
    font-size: 14px;
    font-weight: 400;
}

.ourteam_box_img_wrap {
    max-width: 327px;
    width: 100%;
}

.ourteam_box_img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}