.finding_car_sec{
    background-image: url(../../assets/image/car20.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.finding_car_sec {
    margin: 0;
    padding: 100px 0;
}

.finding_car_detail h2 {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    max-width: 520px;
    width: 100%;
    text-transform: capitalize;
}

.finding_more_btn{
    margin-top: 25px;
}

.finding_more_btn button {
    max-width: 170px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width: 1199px) {
    .finding_car_detail h2{
        font-size: 32px;
        line-height: 42px;
    }

    .finding_more_btn button {
        max-width: 176px;
        width: 100%;
        padding: 12px;
      
    }
  }

  @media screen and (max-width: 991px) {
    .finding_more_btn button {
        max-width: 150px;
        width: 100%;
        padding: 10px;
    }

   
  }

  @media screen and (max-width: 575px) {
    .finding_car_detail h2{
        font-size: 24px;
        line-height: 32px;
    }

    .finding_more_btn button {
        max-width: 138px;
        width: 100%;
        padding: 8px;
    }
  }