::after,
::before {
  box-sizing: inherit !important;
}

.make_easy img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.make_easy h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.make_easy_sec {
  margin: 100px 0 0 0;
}

.make_easy p {
  font-size: 14px;
  margin-bottom: 0;
}

.make_easy-title {
  margin-bottom: 40px;
}

.make_easy-title h2 {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 15px;
}

.make_easy_img {
  max-width: 100px;
  width: 70px;
  margin-bottom: 10px !important;
}

.make_easy_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.browse_type {
  background-color: #fff;
  padding-bottom: 0;
  padding-top: 0;
}

.browase_type-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.browase_type-title a {
  text-decoration: none;
  color: #050b20;
  display: flex;
  gap: 10px;
  align-items: center;
}

.browse_box {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 16px;
}

.browse_box::before {
  position: absolute;
  content: "";
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #222222d4 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.browse_box_text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px 12px 22px;
  transition: 0.6s ease-in-out;
}

.browse_box_text p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.browse_box_text h4 {
  color: #ffff;
  font-size: 15px;
  font-weight: 400;
}

.browse_box_img_wrap {
  max-width: 256px;
  width: 100%;
}

.browse_box_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

.testimonial_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.testimonial_details .testimonial_user h4 {
  text-align: left;
  justify-content: left;
}

.testimonial_title p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.testimonial_details .testimonial_user p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  text-align: left;
}


.testimonial_img {
  max-width: 450px;
  width: 100%;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial_star {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 17px;
}

.testimonial_star p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.testimonial_star p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  max-width: 40px;
  width: 100%;
  color: #fff;
  background-color: #e1c03f;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
}

.testimonial_user h4 {
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 2px;
}

.testimonial_user p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
}

.testimonial_user h6 {
  font-size: 26px;
  line-height: 36px;
  max-width: 530px;
  width: 100%;
  margin-bottom: 0;
}

.app_img {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-top: 50px;
}

.app_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appstore-sec {
  position: relative;
  background-color: #405ff226;
  padding: 0;
}

.app_store_img {
  display: flex;
  gap: 30px;
  max-width: 150px;
  width: 100%;
}

.app_store_img img {
  width: 100%;
  height: 100%;
}

.appstore_details h6 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  max-width: 910px;
  margin-bottom: 0px;
}

.appstore_details p {
  font-size: 16px;
  line-height: 22px;
  color: #050b20;
  margin: 18px 0;
  max-width: 500px;
  width: 100%;
}

.brands_title h6 {
  color: #050b20;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  max-width: 415px;
  width: 100%;
}

.button_brand button {
  padding: 12px 24px !important;
  max-width: 190px !important;
  width: 100% !important;
  border-radius: 12px !important;
  background-color: #405ff2 !important;
  border: 1px solid #405ff2 !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  font-size: 14px !important;
  justify-content: center !important;
}

.brands_title p {
  font-size: 16px;
  line-height: 26px;
}

.brands-sec {
  margin-block: 100px;
}

@media screen and (max-width: 1199px) {
  .make_easy-title h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .make_easy_sec {
    margin: 90px 0 0 0;
  }

  .appstore_details h6 {
    font-size: 32px;
    line-height: 42px;
  }

  .app_store_img {
    max-width: 140px;
    width: 100%;
  }

  .app_store_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .brands_title h6 {
    font-size: 32px;
    line-height: 42px;
  }

  .button_brand button {
    text-align: center;
    padding: 12px 16px;
    max-width: 200px;
    width: 100%;
    justify-content: center;
  }

  .brand_img img {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
  }

  .brand_img img {
    width: 100%;
    height: 100%;
    margin-left: auto;
  }

  .browase_type-title {
    margin-bottom: 30px;
  }

  .make_easy p {
    text-align: left;
  }

  .make_easy h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  .make_easy_img {
    max-width: 62px;
    width: 100%;
  }



  .testimonial_user h6 {
    font-size: 18px;
    line-height: 28px;
  }




}

@media screen and (max-width: 991.98px) {
  .browse_box {
    margin-bottom: 30px;
  }

  .browse_box_last {
    margin-bottom: 0;
  }

  .button_start {
    justify-content: center;
    display: flex;
  }

  .button_start .btn {
    padding: 10px 22px !important;
  }

  .browse_box_text h4 {
    color: #ffff;
    font-size: 26px;
  }

  .browse_box_text p {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
  }

  .app_store_img {
    max-width: 120px;
    width: 100%;
  }

  .app_img {
    max-width: 220px;
    width: 100%;
  }

  .about_details {
    text-align: center;
    margin-top: 30px;
  }

  .browse_box_img_wrap {
    max-width: 100%;
  }

  .make_easy_sec {
    margin: 70px 0 0 0;
  }

  .browase_type-title {
    margin-bottom: 24px;
  }

  .make_easy-title {
    margin-bottom: 20px;
  }

  .make_easy {
    margin-bottom: 30px;
  }


  .testimonial_star {
    margin-bottom: 8px;
  }

  .testimonial_title {
    margin-bottom: 20px;
  }

  .testimonial_img {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }


  .testimonial_star {
    justify-content: center;
  }


  .testimonial_user h6 {
    margin: 0 auto;
  }

  .footer_search_bar {
    margin-top: 20px;
  }


  .footer_logo {
    text-align: center;
  }

  .copy_right_title {
    text-align: center;
    margin-bottom: 5px;
  }

  .button_brand button {

    max-width: 190px !important;
    width: 100% !important;
    font-size: 14px !important;
  }


}

@media screen and (max-width: 767.98px) {

  .app_info {
    margin-top: 40px;
  }

  .make_easy_sec {
    margin: 50px 0 0 0;
  }

  .make_easy_img {
    margin: 0 auto;
  }

  .make_easy-title h2 {
    text-align: center;
  }

  .ourteam_box_img_wrap {
    margin: 0 auto;
  }

  .ourteam_box_info {
    text-align: center;
  }


  .footer_menu {
    margin-bottom: 20px;
  }

  .brands_title {
    margin-bottom: 40px;
  }

  .appstore_details {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .app_img {
    max-width: 300px;
    width: 100%;

    margin-top: 50px;
    margin: 0 auto;
  }

  .brands_title h6 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .brands_title p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  /* .button_start button {
  margin: 0 auto;
} */

  .browase_type-title a {
    display: none;
  }

  .make_easy p {
    text-align: center;
  }

  .make_easy h4 {
    text-align: center;
  }

  .testimonial_user h6 {
    text-align: center;
  }

  .testimonial_details .testimonial_user p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

  .footer_team {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .button_brand button {
    margin: 0 auto;
  }

  .brand_img {
    text-align: center;
  }

  .appstore_details h6 {
    text-align: center;
  }

  .appstore_details p {
    width: 100%;
    margin: 12px auto;
    text-align: center;
  }

  .app_store_img {
    justify-content: center;
    margin: 0 auto;
  }

  .testimonial_details .testimonial_user h4 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .testimonial_user h6 {
    font-size: 16px;
    line-height: 24px;
  }

  .brands_title {
    margin-top: 40px;
  }

  .testimonial_title h2 {
    text-align: center;
    margin: 0 auto 20px auto;
  }

  .browase_type-title {
    text-align: center;
    gap: 40px;
    justify-content: center;
  }

}

@media screen and (max-width: 575.98px) {
  .footer_menu {
    align-items: center;
    text-align: center;
  }

  .make_easy-title h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0px;
  }

  .button_brand button {
    padding: 8px 18px !important;
    max-width: 180px !important;
  }

  .brands_title h6 {
    font-size: 24px;
    line-height: 32px;

  }

  .finding_car_detail h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .footer_search_bar form input {
    padding: 12px 12px;
  }

  .footer_search_bar form button {
    padding: 7px 25px;
    position: absolute;
    right: 11px;
  }

  .appstore_details h6 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
  }

  .appstore_details p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 12px auto 12px auto;
  }

  .app_store_img {
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
  }

  .app_info {
    margin-top: 30px;
  }

  .make_easy_sec {
    margin: 40px 0 0 0;
  }


}