.logo_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_wrap button {
  background-color: #ffff;
}

.book_btn a {
  border: 1px solid #fff;
  padding: 12px 12px !important;
  border-radius: 16px;
  font-size: 15px;
  max-width: 250px;
  width: 100%;
  transition: 0.3s all;
  background-color: transparent;
}

.book_btn a:hover {
  border: 1px solid #ffca00;
  background-color: #ffca00;
  color: #000 !important;
}
.book_btn a.active {
  background-color: #ffca00;
  color: #000 !important;
  border: 1px solid #ffca00;
}
/* 
.book_btn a */

.logo_wrap {
  max-width: 250px;
  width: 100%;
}

.background_img {
  background-image: url(../../assets/image/hero-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 750px;
  position: relative;
}

.background_img_two {
  background-image: url(../../assets/image/hero-2.jpg);
}

.background_img_three {
  background-image: url(../../assets/image/hero-3.jpg);
}

.background_img::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.header_wrap .navbar-collapse .navbar-nav .nav-link,
.header_wrap .navbar-collapse .navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
}

.header_wrap .navbar-collapse .navbar-nav a.active {
  color: #ffca00;
}
.nav-item.dropdown .dropdown-menu a.dropdown-item {
  color: #050b20;
}

.hero_sec {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: calc(0px + (100 - 0) * ((100vw - 320px) / (1920 - 320)));
}

.header_menu a {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
}

.header_wrap {
  border-bottom: 1px solid #ffffff2e;
  position: absolute;
  background-color: #00000000;
  top: 0;
  z-index: 1;
  width: 100%;
}

.hero_title h1 {
  color: #fff;
  margin-bottom: 8px;
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
}

.hero_title p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 510px;
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hero_title .btn {
  max-width: fit-content;
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  margin-top: 20px;
}
.hero_title .btn:hover img {
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.book_btn button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  max-width: 193px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 16px;
  margin-left: 20px;
  text-align: center;
}
.btn {
  background-color: #ffca00;
  border: 1px solid transparent;
}

.btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #ffca00;
}


@media screen and (max-width: 1199px) {
  .hero_title h1 {
    font-size: 46px;
  }

  .hero_title button {
    max-width: 150px;
    width: 100%;
    padding: 12px 22px;
    font-size: 14px;

  }
}

@media screen and (max-width: 991.98px) {

  /* .hero_sec {
    padding: 90px 0;
  } */
  .header_wrap .navbar-collapse {
    background-color: #000000;
    padding: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }

  .book_btn {
    max-width: fit-content;
    margin-top: 10px;
  }

  .navbar-toggler.collapsed {
    background-color: transparent;
    border: none;
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }
}

@media screen and (max-width: 575px) {
  /* .hero_title h1 {
    font-size: 24px;
    line-height: 32px;
  } */

  .hero_title h1 {
    font-size: 25px;
    line-height: 32px;
  }

  .hero_title p {
    font-size: 14px;
    line-height: 22px;
  }

  .hero_title button {
    max-width: 140px;
    width: 100%;
    padding: 8px 18px;
    font-size: 14px;
  }

  /* .hero_sec {
    padding: 50px 0;
} */

  .hero_title {
    margin-top: 70px;
  }

}

@media screen and (max-width: 469px) {
  .logo_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo_wrap {
    max-width: 190px;
    width: 100%;
  }
}