.sign_up_wrap{
    align-items: center;
    justify-content: center;
}

.sign_up_form{
    display: flex;
    justify-content: center;
}


.signing_text{
    margin-top: 10px;
}




@media only screen and (max-width: 767.98px) {
    .sign_up_form {
        margin-block: 50px;
    }
    .login_up_form {
        margin-block: 50px;
    }
    .bg-image{
    display: none;
    }

    .signing_text{
        font-size: 14px;
        text-align: center;
    }

    .account{
        font-size: 14px;
        text-align: center;
    }
}

@media only screen and (max-width: 575px) {
    .sign_up_wrap {
        align-items: flex-start;
        justify-content: center;
    }

    .signing_text{
        margin-top: 10px;
    }

    .account{
        font-size: 14px;
        text-align: center;
    }
    
    
}


