body {
    margin: 0;
    /* background-color: #101010; */
    font-family: "DM Sans", serif;
  }::after, ::before{
    box-sizing: inherit !important;
  } 

  .blog_info {
    margin: 0;
    background-color: #ffff;
  }

  .admin-img a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #050B20;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.Comments-info p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.Comments-info{
  margin-top: 12px;
}

.comments {
  margin-bottom: 50px;
}


.comments_user {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}

.admin_bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 36px;
}
  
.blog_car_info {
  max-width: 1619px;
  width: 100%;
}

.blog_car_info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_details p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 20px;
}

.picks_ford {
  border: 1px solid #405FF2;
  border-left: 24px solid  #405FF2;
  background-color: #E9F2FF;
  padding: 33px 33px;
  border-radius: 16px;
}

.picks_ford p {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}

.picks_ford .luis{
  margin-top: 20px;
}

.blog_requirements {
  background-color: #fff;
  padding: 0;
}

.share a {
  font-size: 18px;
  line-height: 26px;
  color: #050B20;
  text-decoration: none;
}

.exterior button {
  max-width: 230px;
  width: 100%;
  font-size: 14px;
  color: #050B20;
  padding: 12px 24px;
}

.comment-bar {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  padding: 30px 30px;
  margin-top: 40px;
}
.comment-bar {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin: 40px 0;
  border-bottom: 1px solid #e9e9e9;
}
.comment-bar p{
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.preview-btn a {
  text-decoration: none;
  font-size: 18px;
  color: #050B20;
}

.preview-btn p {
  font-size: 14px;
  line-height: 20px;
  color: #050B20;
  font-weight: 200;
}

.next-btn a {
  text-decoration: none;
  font-size: 18px;
  color: #050B20;
}

.next-btn p {
  font-size: 14px;
  line-height: 20px;
  color: #050B20;
  font-weight: 200;
}

.three_comments h6 {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}


.preview-next-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
  padding: 16px 0;
}

.replay a {
  text-decoration: none;
}

.comment_admin_img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.comment-bar p{
  margin-bottom: 0;
}

@media only screen and (max-width: 1199px) {
  .blog_title{
    margin-bottom: 20px;
  }

  .admin_bar {
    margin-bottom: 24px;
}
}

@media only screen and (max-width: 991px) {
  .share {
    width: 100%;
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 10px;
    margin-top: 30px;
}

.comment_admin_img {
  align-items: flex-start;
}
.comment-bar {
 margin: 20px 0;
 border-bottom: none;

}
}

@media only screen and (max-width: 575px) {
  .three_comments h6 {
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.picks_ford{
  padding: 22px 22px;
}

.share {
  padding: 10px 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.comment-bar{
  flex-wrap: wrap;
  flex-direction: column;
}

.comments_user {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  justify-content: space-between;
}

.Comment_user {
  display: flex;
  align-items: center;
  gap: 11px;
}
}
@media only screen and (max-width: 425px) {
  .picks_ford{
    padding: 12px 12px;
  }
}