.car_infomation_card {
    border: 1px solid #E9E9E9;
    border-radius: 4px;
}

.car_infomation_title h4 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.car_infomation_title {
    padding: 16px 12px 16px 12px;
    border-bottom: 1px solid #E9E9E9;
}

.brand_name h6 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.brand_name p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #050B20;
    font-weight: 400;
}

/* .car_infomation_list {
    padding-bottom: 12px;
} */




.brand_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
}

.about_car_detail_img {
    max-width: 540px;
    width: 100%;
    height: 290px;
}

.about_car_detail_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.car_name h2 {
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

.car_name {
    margin: 16px 0;
}



@media screen and (max-width: 1199px) {

    .car_name h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .car_infomation_title h4 {
        font-size: 22px;
        line-height: 30px;
        margin: 0;
    }

  
}

@media screen and (max-width: 991px) {
    
    .about_car_detail_three{
        margin-top: 24px;
    }

}

@media screen and (max-width: 767px) {
    
    .about_car_detail_two{
        margin-top: 24px;
    }
}

@media screen and (max-width: 575px) {
    .about_sec .about_details h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .about_sec .about_details p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .about_sec .button_start button {
        max-width: 150px;
        width: 100%;
        padding: 8px 8px;
        font-size: 14px;
    }

    .about_sec .about_point {
        display: flex;
        align-items: baseline;
        gap: 12px;
    }

    .about_sec .get_touch {
        margin-top: 12px;
    }

    .about_sec {
        margin: 0;
    }
}